.header {
	background-color: red;
	width: 960px;
}

.your_name {
	background-color: #4aaaa5;
	float: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	margin-left: 100px;
	margin-right: 300px;
	color: white;
}

.countainer {
	width: 960px;
}

.top_of_page_controls {
	float: left;
	margin-left: 10px;
}

.about_me {
	clear: both;
	float: left;
}

.connect_with_me {
	float: left;	
}


.footer {
	clear: both;
	background-color: red;
}
