.your_name {
	background: #4aaaa5;
	width: 100px;
	text-align: center;
	size: 56px;
	padding: 20%;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: white;	
}


.body_container {
	background: #cccccc;
}

.content_countainer {
	width: 960px;
	background: white;
}

.top_of_page_controls {
	float: left;
	width: 10%;
	padding: 20px;
}

.about_me {
	clear: both;
	float: left;
	width: 10%;
	padding: 100px;
}

.connect_with_me {
	float: left;	
	width: 20%;
	padding: 100px;
}